html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}

img {
  width: 100%;
  max-height: 500px;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  font-style: italic;
}
